<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-success">
                        <div class="card-icon">
                            <i class="material-icons"></i> 
                            
                        </div>
                        <h4 class="card-title">Pesquise por mapas em um intervalo de tempo</h4>
                        <div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="recipient-name" class="col-form-label">Data Inicial</label>
                                    <input type="date" class="form-control" value="firstDate" required>
                                </div>
                                <div class="col-sm-2">
                                    <label for="recipient-name" class="col-form-label">Data Final</label>
                                    <input type="Date" class="form-control" required>   
                                </div>
                                <div class="col-sm-2">
                                <button type="button" class="btn btn-round btn-fill btn-success" (click)="search(fisrtDate)">Pesquisar</button>
                                </div>
                            </div>
                           
                    </div>
                    <div class="header">
                        <!-- <h4 class="title">Empresas</h4> -->
                    </div>
                        <p-table class="table table-hover table-striped" #dt1 [value]="travelMaps" [rows]="10"  [showCurrentPageReport]="true" [paginator]="true" 
                        [rowsPerPageOptions]="[10,25,50]" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados"
                        [globalFilterFields]="['id','name']" >
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn='id'>Id<p-sortIcon field="id"></p-sortIcon></th>
                                <th pSortableColumn='destinyName'>Destino<p-sortIcon field="destinyName"></p-sortIcon></th>
                                <th pSortableColumn='boardingDate'>Data<p-sortIcon field="boardingDate"></p-sortIcon></th>
                                <th pSortableColumn='boardingTime'>Hora<p-sortIcon field="boardingTime"></p-sortIcon></th>
                                <th pSortableColumn='companyName'>Empresa<p-sortIcon field="companyName"></p-sortIcon></th>
                                <th pSortableColumn='busCategory'>Categoria<p-sortIcon field="busCategory"></p-sortIcon></th>
                                <th pSortableColumn='passQtt'>Passageiros<p-sortIcon field="passQtt"></p-sortIcon></th>
                                <th>Ações</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-map>
                            <tr>
                                <td>{{map.id}}</td>
                                <td>{{map.destiny.name}}</td>
                                <td>{{map.boardingDate}}</td>
                                <td>{{map.boardingTime}}</td>
                                <td>{{map.company.name}}</td>
                                <td>{{map.busCategory.name}}</td>
                                <td>{{map.passQtt}}</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown" data-toggle="dropdown">
                                        <img src="../../assets/img/outline_view_headline_black_18.png" ><b class="btn-simple btn-icon"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a data-toggle="modal" data-target="#modalUpdateComp" (click)="listObj(map.id)">Editar</a></li>
                                        <li><a data-toggle="modal"  data-target="#modalDelComp"  (click)="listObj(map.id)">Excluir</a></li>
                                    </ul>                               
                            </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
