<div class="main-content">
    <div class="container-fluid">
        <button type="button" class="btn btn-round btn-fill btn-success" data-toggle="modal" data-target="#modalAddComp" (click)="resetFormulary()">nova empresa</button>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Empresas</h4>
                        <p class="card-category"> Empresas aptas para operar</p>
                    </div>
                    <div class="header">
                    </div>
                        <table mat-table [dataSource]="dataSource" matSort class="table table-hover table-striped">
                            
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Ações </th>
                                <td mat-cell *matCellDef="let element" class="dropdown">
                                    <a href="#" class="dropdown" data-toggle="dropdown">
                                        <img src="../../assets/img/outline_view_headline_black_18.png" ><b class="btn-simple btn-icon"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a data-toggle="modal" data-target="#modalUpdateComp" (click)="listCompany(element.id)">Editar</a></li>
                                        <li><a data-toggle="modal"  data-target="#modalDelComp"  (click)="listCompany(element.id)">Excluir</a></li>
                                    </ul>                               
                                </td>
                            </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Modal para inserir Empresa -->

 <div class="modal modal-angular fade" id="modalAddComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form [formGroup]="formulary" (ngSubmit)="addCmp()">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="recipient-name" class="col-form-label">Nome</label>
                            <input type="text" class="form-control" formControlName="name" required>
                            <small *ngIf="formulary.get('name').invalid && formulary.get('name').touched" class="form-text text-danger">Nome inválido</small>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-info" [disabled]="!formulary.valid">Adicionar</button>
        </div>
    </form>
    </div>
    </div>
</div>

<!-- Modal de Edição de empresas-->

<div class="modal modal-angular fade" id="modalUpdateComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form [formGroup]="formulary">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Empresa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="recipient-name" class="col-form-label"></label>
                        <input type="text" class="form-control" data-whatever="company.name" placeholder="Nome da Empresa" formControlName="name" required>
                        <small *ngIf="formulary.get('name').invalid && formulary.get('name').touched" class="form-text text-danger">Nome inválido</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-info"  [disabled]="!formulary.valid" (click)="edit(company.id)">Editar</button>
        </div>
        </form>
    </div>
    </div>
</div>

<!-- Modal para excluir empresas -->

<div class="modal fade" id="modalDelComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Deletar </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        Tem certeza?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="delete(company.id)" data-dismiss="modal">Apagar</button>
        </div>
    </div>
</div>