<div class="main-content">
    <div class="container-fluid">
        <button type="button" class="btn btn-round btn-fill btn-success" data-toggle="modal" data-target="#modalAddComp" (click)="resetFormulary()">nova empresa</button>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Empresas</h4>
                        <p class="card-category"> Empresas aptas para operar</p>
                    </div>
                    <div class="header">
                        <!-- <h4 class="title">Empresas</h4> -->
                    </div>
                    <div class="content table-responsive table-full-width">
                    
                        <p-table class="table table-hover table-striped" [value]="companies" [lazy]="true" [showCurrentPageReport]="true"   (onLazyLoad)="paginate($event)"
                        [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [sortField]="orderBy">
                        
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn='id'>Id<p-sortIcon field="id"></p-sortIcon></th>
                                <th pSortableColumn='name'>Nome <p-sortIcon field="name"></p-sortIcon></th>
                                <th>Ações</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-company>
                            <tr>
                                <td>{{company.id}}</td>
                                <td>{{company.name}}</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="../../assets/img/outline_view_headline_black_18.png" ><b class="btn-simple btn-icon"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a data-toggle="modal" data-target="#modalUpdateComp" (click)="listCompany(company.id)">Editar</a></li>
                                        <li><a data-toggle="modal"  data-target="#modalDelComp"  (click)="listCompany(company.id)">Excluir</a></li>
                                    </ul>                               
                            </td>
                            </tr>
                        </ng-template>
                        
                    </p-table>

                    </div>
                        <!-- <app-pagination [page]="page" (paginationEvent)=changePage($event)></app-pagination> -->
                       <!--  <p-paginator [rows]="10" totalRecords={{totalRecords}} (onLazyLoad)=paginate($event)></p-paginator> -->

                        
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Modal para inserir Empresa -->

 <div class="modal modal-angular fade" id="modalAddComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form [formGroup]="formulary" (ngSubmit)="addCmp()">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="recipient-name" class="col-form-label">Nome</label>
                            <input type="text" class="form-control" formControlName="name" required>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-info" [disabled]="!formulary.valid">Adicionar</button>
        </div>
    </form>
    </div>
    </div>
</div>

<!-- Modal de Edição de empresas-->

<div class="modal modal-angular fade" id="modalUpdateComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form [formGroup]="formulary">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Empresa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="recipient-name" class="col-form-label"></label>
                        <input type="text" class="form-control" data-whatever="company.name" placeholder="Nome da Empresa" formControlName="name" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-info"  [disabled]="!formulary.valid" (click)="edit(company.id)">Editar</button>
        </div>
        </form>
    </div>
    </div>
</div>

<!-- Modal para excluir empresas -->

<div class="modal fade" id="modalDelComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Deletar </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        Tem certeza?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="delete(company.id)" data-dismiss="modal">Apagar</button>
        </div>
    </div>
</div>