<div class="main-content">
    <div class="container-fluid">
        <button type="button" class="btn btn-round btn-fill btn-success" data-toggle="modal" data-target="#modalAddComp" (click)="resetFormulary()">nova empresa</button>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <!-- <h4 class="title">Empresas</h4> -->
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nome</th>
                                <th scope="col">acões</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let company of companies;">
                                <th>{{ company.id }}</th>
                                <td>{{ company.name }}</td>
                                <td class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <img src="../../assets/img/outline_view_headline_black_18.png" ><b class="btn-simple btn-icon"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a (click)="edit(company.id)">Editar</a></li>
                                            <li><a (click)="delete(company.id)">Excluir</a></li>
                                        </ul>                               
                                </td>
                            </tr>
                        </table>
                        </div>
                        <!-- <app-pagination [page]="page" (paginationEvent)=changePage($event)></app-pagination> -->

                        
                </div>
            </div>
        </div>
    </div>
   
</div>

 <!-- Modal para inserir Empresa -->

 <div class="modal" id="modalAddComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form [formGroup]="formulary" (ngSubmit)="addCmp()">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="recipient-name" class="col-form-label">Nome</label>
                            <input type="text" class="form-control" formControlName="name" required>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!formulary.valid">Adicionar</button>
        </div>
    </form>
    </div>
    </div>
</div>
