<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/assets/img/bg-01.jpg);">
					<span class="login100-form-title-1">
						Sistema de Mapas
					</span>
				</div>

				<form class="login100-form validate-form" [formGroup]="formLogin" (ngSubmit)="authenticate()">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Usuário</span>
						<input class="input100" type="text" name="userName">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Senha</span>
						<input class="input100" type="password" name="pass">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						                 

						<div>
							
						</div>
					</div>
                    <div>
                        <div class="container-fluid">
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </div>
					
				</form>
			</div>
		</div>
	</div>


</body>
</html>