<div class="main-content">
    <div class="container-fluid">
        <button type="button" class="btn btn-round btn-fill btn-success" data-toggle="modal" data-target="#modalAdd" (click)="resetFormulary()">novo destino</button>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Destinos</h4>
                        <p class="card-category">Destinos habilitados para viagem</p>
                    </div>
                    <div class="header">                        
                    </div>
                    <div class="p-d-flex">
                        <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                        </span>
                    </div>
                        <p-table #dt1 class="table table-hover table-striped" [value]="destinies" [lazy]="true" [showCurrentPageReport]="true"  
                        currentPageReportTemplate="Mostrando {first} a {last} de {{totalRecords}} resultados"
                        [rowsPerPageOptions]="[10,20,30]" (onLazyLoad)="paginate($event)"
                        [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [sortField]="orderBy"
                        [globalFilterFields]="['id','name']" >
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn='id'>Id<p-sortIcon field="id"></p-sortIcon></th>
                                <th pSortableColumn='name'>Nome <p-sortIcon field="name"></p-sortIcon></th>
                                <th pSortableColumn='distance'>Distância<p-sortIcon field="distance"></p-sortIcon></th>
                                <th pSortableColumn='category'>Tipo<p-sortIcon field="category"></p-sortIcon></th>
                                <th>Ações</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-destiny>
                            <tr>
                                <td>{{destiny.id}}</td>
                                <td>{{destiny.name}}</td>
                                <td>{{destiny.distance}} Km</td>
                                <td>{{destiny.category.name}}</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown" data-toggle="dropdown">
                                        <img src="../../assets/img/outline_view_headline_black_18.png" ><b class="btn-simple btn-icon"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a data-toggle="modal" data-target="#modalUpdate" (click)="listObj(destiny.id)">Editar</a></li>
                                        <li><a data-toggle="modal" data-target="#modalDel" (click)="listObj(destiny.id)">Excluir</a></li>
                                    </ul>                               
                            </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para inserir Empresa -->

<div class="modal modal-angular fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form [formGroup]="formulary" (ngSubmit)="addObj()">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Destino</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="recipient-name" class="col-form-label">Nome da cidade</label>
                            <input type="text" class="form-control" formControlName="name" required>
                        </div>
                        <div class="col-sm-6">
                            <label for="recipient-name" class="col-form-label">Distância (em Km)</label>
                            <input type="number" class="form-control" formControlName="distance" required>
                        </div>
                        <div class="col-sm-6">
                            <label for="recipient-name" class="col-form-label">Tipo de Linha</label>
                            <select class="custom-select"  formControlName="categoryId" required>
                            <option *ngFor="let typeLine of typeLines" [ngValue]="typeLine.id">{{ typeLine.name }}</option>
                            </select>                            
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-info" >Adicionar</button>
        </div>
    </form>
    </div>
    </div>
</div>

<!-- [disabled]="!formulary.valid" -->

<!-- Modal de Edição de empresas-->

<div class="modal modal-angular fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form [formGroup]="formulary">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Empresa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="recipient-name" class="col-form-label">Nome da Cidade</label>
                        <input type="text" class="form-control" data-whatever="destiny.name" placeholder="Nome do Destino" formControlName="name" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="recipient-name" class="col-form-label">Distância (em Km)</label>
                        <input type="number" class="form-control" data-whatever="destiny.distance" placeholder="Distância" formControlName="distance" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="recipient-name" class="col-form-label">Tipo de Linha</label>
                            <select  class="custom-select" id="categoryId" formControlName="categoryId" required>
                            <option *ngFor="let typeLine of typeLines" [value]="typeLine.id">{{ typeLine.name }}</option>
                        </select> 
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-info" (click)="edit(destiny.id)">Editar</button>
        </div>
        </form>
    </div>
    </div>
</div>

<!-- Modal para excluir empresas -->

<div class="modal fade" id="modalDel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Deletar </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        Tem certeza?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="delete(destiny.id)" data-dismiss="modal">Apagar</button>
        </div>
    </div>
</div>