<div class="main-content">
    <div class="container-fluid">
        <button type="button" class="btn btn-round btn-fill btn-success" data-toggle="modal" data-target="#modalAdd" (click)="resetFormulary()">novo mapa</button>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Mapas</h4>
                        <p class="card-category">Mapas cadastrados esse mês</p>
                    </div>
                    <div class="header">
                        <!-- <h4 class="title">Empresas</h4> -->
                    </div>
                        <p-table class="table table-hover table-striped" #dt1 [value]="travelMaps" [rows]="10"  [showCurrentPageReport]="true" [paginator]="true" 
                        [rowsPerPageOptions]="[10,25,50]" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados"
                        [globalFilterFields]="['id','name']" >
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn='id'>Id<p-sortIcon field="id"></p-sortIcon></th>
                                <th pSortableColumn='destinyName'>Destino<p-sortIcon field="destinyName"></p-sortIcon></th>
                                <th pSortableColumn='boardingDate'>Data<p-sortIcon field="boardingDate"></p-sortIcon></th>
                                <th pSortableColumn='boardingTime'>Hora<p-sortIcon field="boardingTime"></p-sortIcon></th>
                                <th pSortableColumn='companyName'>Empresa<p-sortIcon field="companyName"></p-sortIcon></th>
                                <th pSortableColumn='busCategory'>Categoria<p-sortIcon field="busCategory"></p-sortIcon></th>
                                <th pSortableColumn='passQtt'>Passageiros<p-sortIcon field="passQtt"></p-sortIcon></th>
                                <th>Ações</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-map>
                            <tr>
                                <td>{{map.id}}</td>
                                <td>{{map.destiny.name}}</td>
                                <td>{{map.boardingDate}}</td>
                                <td>{{map.boardingTime}}</td>
                                <td>{{map.company.name}}</td>
                                <td>{{map.busCategory.name}}</td>
                                <td>{{map.passQtt}}</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown" data-toggle="dropdown">
                                        <img src="../../assets/img/outline_view_headline_black_18.png" ><b class="btn-simple btn-icon"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a data-toggle="modal" data-target="#modalUpdateComp" (click)="listObj(map.id)">Editar</a></li>
                                        <li><a data-toggle="modal"  data-target="#modalDelComp"  (click)="listObj(map.id)">Excluir</a></li>
                                    </ul>                               
                            </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Modal para inserir Empresa -->

 <div class="modal modal-angular fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form [formGroup]="formulary" (ngSubmit)="addObj()">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Mapa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
                <div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="recipient-name" class="col-form-label">Data</label>
                            <input type="date" class="form-control" formControlName="boardingDate" required>
                        </div>
                        <div class="col-sm-6">
                            <label for="recipient-name" class="col-form-label">Hora</label>
                            <input type="time" class="form-control" formControlName="boardingTime" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                        <label for="recipient-name" class="col-form-label">Destino</label>
                        <p-autoComplete formControlName="destinyId" [suggestions]="destinies" 
                        (completeMethod)="searchDestiny($event.query)" field="name">
                        </p-autoComplete>
                    </div>
                            <div class="col-sm-4">
                            <label for="recipient-name" class="col-form-label">Passageiros</label>
                            <input type="number" class="form-control" formControlName="passQtt" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="recipient-name" class="col-form-label">Tipo de ônibus</label>
                            <select class="custom-select"  formControlName="busId" required>
                            <option *ngFor="let category of busCategories" [ngValue]="category.id">{{ category.name }}</option>
                            </select>                            
                        </div>
                   
                        <div class="col-sm-6">
                            <label for="recipient-name" class="col-form-label">Empresa</label>
                            <p-autoComplete formControlName="companyId" [suggestions]="companies" 
                                (completeMethod)="searchCompany($event.query)" field="name">
                        </p-autoComplete>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-info">Adicionar</button>
        </div>
    </form>
    </div>
    </div>
</div>

<!-- Modal de Edição de empresas-->

<div class="modal modal-angular fade" id="modalUpdateComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form [formGroup]="formulary">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Mapa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <div class="row">
                    <div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Data</label>
                                <input type="date" class="form-control" formControlName="boardingDate" required>
                            </div>
                        
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Hora</label>
                                <input type="time" class="form-control" formControlName="boardingTime" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Destino</label>
                                <p-autoComplete formControlName="destinyId" [suggestions]="destinies" 
                                (completeMethod)="searchDestiny($event.query)" field="name" [placeholder]="destinyName">
                                </p-autoComplete>
                            </div>
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Passageiros</label>
                                <input type="number" class="form-control" formControlName="passQtt" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Tipo de onibus</label>
                            <select class="custom-select"  formControlName="busId" required>
                            <option *ngFor="let category of busCategories" [value]="category.id">{{ category.name }}</option>
                            </select>  
                            </div>
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Empresa</label>
                                <p-autoComplete formControlName="companyId" [suggestions]="companies" 
                                    (completeMethod)="searchCompany($event.query)" field="name" [placeholder]="companyName">
                            </p-autoComplete>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-info" (click)="edit(id)">Editar</button>
        </div>
        </form>
    </div>
    </div>
</div>

<!-- Modal para excluir empresas -->

<div class="modal fade" id="modalDelComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Deletar </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        Tem certeza?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="delete()" data-dismiss="modal">Apagar</button>
        </div>
    </div>
</div>
