::ng-deep .cdk-overlay-connected-position-bounding-box {
    z-index: 10000 !important;
    }
    
    ::ng-deep .cdk-global-overlay-wrapper {
    z-index: 1000 !important;
    }

    .hidden{
        display: none;
    }