<div class="main-content">
    <div class="container-fluid">
      
        <div class="row">
            <div class="col align-self-start">
        <button type="button" class="btn btn-round btn-fill btn-success" data-toggle="modal" data-target="#modalAdd" (click)="resetFormulary()">novo mapa</button>        
        <button type="button" class="btn btn-round btn-fill btn-warning" data-toggle="modal" data-target="#modalSearch" >Pesquisar</button>
        <button type="button" class="btn btn-round btn-fill btn-info" data-toggle="modal" data-target="#modalReport" >Relatório</button>       
        </div>
        <div class="col col-sm-2">
        <button type="button" class="btn btn-round btn-fill btn-danger" (click)="att()" >Limpar</button>
        </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Mapas de Viagem</h4>
                        <p class="card-category">Mapas de viagem cadastrados</p>
                    </div>
                    <div class="header">
                        <!-- <h4 class="title">Empresas</h4> -->
                    </div>
                        <p-table class="table table-hover table-striped" #dt1 [value]="travelMaps" [rows]="10"  [showCurrentPageReport]="true" [paginator]="true" 
                        [rowsPerPageOptions]="[10,25,50]" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados"
                        [globalFilterFields]="['id','destiny.name','boardingDate','company.name','busCategory.name']" >
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn='id'>Id<p-sortIcon field="id"></p-sortIcon></th>
                                <th pSortableColumn='destiny.name'>Destino<p-sortIcon field="destiny.name"></p-sortIcon></th>
                                <th pSortableColumn='boardingDate'>Data<p-sortIcon field="boardingDate"></p-sortIcon></th>
                                <th pSortableColumn='boardingTime'>Hora<p-sortIcon field="boardingTime"></p-sortIcon></th>
                                <th pSortableColumn='company.name'>Empresa<p-sortIcon field="company.name"></p-sortIcon></th>
                                <th pSortableColumn='busCategory.name'>Categoria<p-sortIcon field="busCategory.name"></p-sortIcon></th>
                                <th pSortableColumn='passQtt'>Passageiros<p-sortIcon field="passQtt"></p-sortIcon></th>
                                <th>Ações</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-map>
                            <tr>
                                <td>{{map.id}}</td>
                                <td>{{map.destiny.name}}</td>
                                <td>{{map.boardingDate}}</td>
                                <td>{{map.boardingTime}}</td>
                                <td>{{map.company.name}}</td>
                                <td>{{map.busCategory.name}}</td>
                                <td>{{map.passQtt}}</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown" data-toggle="dropdown">
                                        <img src="../../assets/img/outline_view_headline_black_18.png" ><b class="btn-simple btn-icon"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a data-toggle="modal" data-target="#modalUpdateComp" (click)="listObj(map.id)">Editar</a></li>
                                        <li><a data-toggle="modal"  data-target="#modalDelComp"  (click)="listObj(map.id)">Excluir</a></li>
                                    </ul>                               
                            </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Relatório de mapas -->
<div class="modal modal-angular fade" id="modalReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form [formGroup]="searchFormulary" (ngSubmit)="reportMaps()">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Relatório de Mapas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
                <div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="recipient-name" class="col-form-label">Data inicial</label>
                            <input type="date" class="form-control" formControlName="initialDate" required>
                            <small *ngIf="searchFormulary.get('initialDate').invalid && searchFormulary.get('initialDate').touched" class="form-text text-danger">Data inválida</small>
                        </div>
                        <div class="col-sm-6">
                            <label for="recipient-name" class="col-form-label">Data final</label>
                            <input type="date" class="form-control" formControlName="finalDate" required>
                            <small *ngIf="searchFormulary.get('finalDate').invalid && searchFormulary.get('finalDate').touched" class="form-text text-danger">Data inválida</small>
                        </div>
                    </div>
                   <!--  <div class="form-check form-check-inline">
                    <input type="radio" value="Cadastrar" onclick="document.getElementById('teste').style.display='block';" /> 
                    <input type="radio" value="Cadastrar" onclick="document.getElementById('teste1').style.display='block';" /> 
                    <input type="radio" value="Cadastrar" onclick="document.getElementById('teste2').style.display='block';" /> 
                        </div> -->
                        <div>
                            <label>Filtre por:</label>
                        </div>
                        <div>
                        <div class="form-check form-check-inline">
                            <input  type="radio" name="inlineRadioOptions"  value="option1" 
                            onclick="document.getElementById('teste').style.display='block' ; document.getElementById('teste1').style.display='none'; 
                            document.getElementById('teste2').style.display='none';">
                            <label class="form-check-label" for="inlineRadio1">Categoria</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input  type="radio" name="inlineRadioOptions" value="option2" 
                            onclick="document.getElementById('teste1').style.display='block'; document.getElementById('teste').style.display='none'; 
                            document.getElementById('teste2').style.display='none';">
                            <label class="form-check-label" for="inlineRadio2">Destino</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input  type="radio" name="inlineRadioOptions"  value="option3" 
                            onclick="document.getElementById('teste2').style.display='block'; document.getElementById('teste').style.display='none'; 
                            document.getElementById('teste1').style.display='none';">
                            <label class="form-check-label" for="inlineRadio3">Empresa</label>
                          </div>
                          </div>
                    <div class="row">
                        <div class="col-sm-6 hidden" id="teste1">
                       <!--  <label for="recipient-name" class="col-form-label">Destino</label> -->
                        <p-autoComplete formControlName="destinyId" [suggestions]="destinies" 
                        (completeMethod)="searchDestiny($event.query)" field="name" id="codigo" ngmodel="testInput">
                        </p-autoComplete>
                    </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6 hidden" id="teste">
                           <!--  <label for="recipient-name" class="col-form-label">Tipo de ônibus</label> -->
                            <select class="custom-select"  formControlName="busId">
                            <option *ngFor="let category of busCategories" [ngValue]="category.id">{{ category.name }}</option>
                            </select>                            
                        </div>
                   
                        <div class="col-sm-6 hidden" id="teste2">
                            <!-- <label for="recipient-name" class="col-form-label">Empresa</label> -->
                            <p-autoComplete id="_company" formControlName="companyId" [suggestions]="companies" 
                                (completeMethod)="searchCompany($event.query)" field="name">
                        </p-autoComplete>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-info" [disabled]="!searchFormulary.valid">Pesquisar</button>
        </div>
    </form>
    </div>
    </div>
</div>

<!-- Pesquisa de mapas -->

<div class="modal modal-angular fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form [formGroup]="searchFormulary" (ngSubmit)="searchMaps()">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pesquisa por Mapas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
                <div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="recipient-name" class="col-form-label">Data inicial</label>
                            <input type="date" class="form-control" formControlName="initialDate" required>
                            <small *ngIf="searchFormulary.get('initialDate').invalid && searchFormulary.get('initialDate').touched" class="form-text text-danger">Data inválida</small>
                        </div>
                        <div class="col-sm-6">
                            <label for="recipient-name" class="col-form-label">Data final</label>
                            <input type="date" class="form-control" formControlName="finalDate" required>
                            <small *ngIf="searchFormulary.get('finalDate').invalid && searchFormulary.get('finalDate').touched" class="form-text text-danger">Data inválida</small>
                        </div>
                    </div>
                   <!--  <div class="form-check form-check-inline">
                    <input type="radio" value="Cadastrar" onclick="document.getElementById('teste').style.display='block';" /> 
                    <input type="radio" value="Cadastrar" onclick="document.getElementById('teste1').style.display='block';" /> 
                    <input type="radio" value="Cadastrar" onclick="document.getElementById('teste2').style.display='block';" /> 
                        </div> -->
                        <div>
                            <label>Filtre por:</label>
                        </div>
                        <div>
                        <div class="form-check form-check-inline">
                            <input  type="radio" name="inlineRadioOptions"  value="option1" 
                            onclick="document.getElementById('teste').style.display='block' ; document.getElementById('teste1').style.display='none'; 
                            document.getElementById('teste2').style.display='none';">
                            <label class="form-check-label" for="inlineRadio1">Categoria</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input  type="radio" name="inlineRadioOptions" value="option2" 
                            onclick="document.getElementById('teste1').style.display='block'; document.getElementById('teste').style.display='none'; 
                            document.getElementById('teste2').style.display='none';">
                            <label class="form-check-label" for="inlineRadio2">Destino</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input  type="radio" name="inlineRadioOptions" value="option3" 
                            onclick="document.getElementById('teste2').style.display='block'; document.getElementById('teste').style.display='none'; 
                            document.getElementById('teste1').style.display='none';">
                            <label class="form-check-label" for="inlineRadio3">Empresa</label>
                          </div>
                          </div>
                    <div class="row">
                        <div class="col-sm-6 hidden" id="teste1">
                       <!--  <label for="recipient-name" class="col-form-label">Destino</label> -->
                        <p-autoComplete formControlName="destinyId" [suggestions]="destinies" 
                        (completeMethod)="searchDestiny($event.query)" field="name" id="codigo" ngmodel="testInput">
                        </p-autoComplete>
                    </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6 hidden" id="teste">
                           <!--  <label for="recipient-name" class="col-form-label">Tipo de ônibus</label> -->
                            <select class="custom-select"  formControlName="busId">
                            <option *ngFor="let category of busCategories" [ngValue]="category.id">{{ category.name }}</option>
                            </select>                            
                        </div>
                   
                        <div class="col-sm-6 hidden" id="teste2">
                            <!-- <label for="recipient-name" class="col-form-label">Empresa</label> -->
                            <p-autoComplete id="_company" formControlName="companyId" [suggestions]="companies" 
                                (completeMethod)="searchCompany($event.query)" field="name">
                        </p-autoComplete>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-info" [disabled]="!searchFormulary.valid">Pesquisar</button>
        </div>
    </form>
    </div>
    </div>
</div>



 <!-- Modal para inserir Mapa -->

 <div class="modal modal-angular fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form [formGroup]="formulary" (ngSubmit)="addObj()">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Mapa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            
                <div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="recipient-name" class="col-form-label">Data</label>
                            <input type="date" class="form-control" formControlName="boardingDate" required>
                            <small *ngIf="formulary.get('boardingDate').invalid && formulary.get('boardingDate').touched" class="form-text text-danger">Data inválida</small>
                        </div>
                        <div class="col-sm-6">
                            <label for="recipient-name" class="col-form-label">Hora</label>
                            <input type="time" class="form-control" formControlName="boardingTime" required>
                            <small *ngIf="formulary.get('boardingTime').invalid && formulary.get('boardingTime').touched" class="form-text text-danger">Hora inválida</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                        <label for="recipient-name" class="col-form-label">Destino</label>
                        <p-autoComplete formControlName="destinyId" [suggestions]="destinies" 
                        (completeMethod)="searchDestiny($event.query)" field="name">
                        </p-autoComplete>
                        <small *ngIf="formulary.get('destinyId').invalid && formulary.get('destinyId').touched" class="form-text text-danger">Destino necessário</small>
                    </div>
                            <div class="col-sm-4">
                            <label for="recipient-name" class="col-form-label">Passageiros</label>
                            <input type="number" min="1"  pattern="\d+" class="form-control" formControlName="passQtt" required>
                            <small *ngIf="formulary.get('passQtt').invalid && formulary.get('passQtt').touched" class="form-text text-danger">Quantidade inválida</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="recipient-name" class="col-form-label">Tipo de ônibus</label>
                            <select class="custom-select"  formControlName="busId" required>
                            <option *ngFor="let category of busCategories" [ngValue]="category.id">{{ category.name }}</option>
                            </select>
                            <small *ngIf="formulary.get('busId').invalid && formulary.get('busId').touched" class="form-text text-danger">Tipo necessário</small>                            
                        </div>
                   
                        <div class="col-sm-6">
                            <label for="recipient-name" class="col-form-label">Empresa</label>
                            <p-autoComplete formControlName="companyId" [suggestions]="companies" 
                                (completeMethod)="searchCompany($event.query)" field="name">
                        </p-autoComplete>
                        <small *ngIf="formulary.get('companyId').invalid && formulary.get('companyId').touched" class="form-text text-danger">Empresa necessária</small> 
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-info" [disabled]="!formulary.valid">Adicionar</button>
        </div>
    </form>
    </div>
    </div>
</div>

<!-- Modal de Edição de Mapas-->

<div class="modal modal-angular fade" id="modalUpdateComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form [formGroup]="formulary">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Mapa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <div class="row">
                    <div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Data</label>
                                <input type="date" class="form-control" formControlName="boardingDate" required>
                                <small *ngIf="formulary.get('boardingDate').invalid && formulary.get('boardingDate').touched" class="form-text text-danger">Data inválida</small>
                            </div>
                        
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Hora</label>
                                <input type="time" class="form-control" formControlName="boardingTime" required>
                                <small *ngIf="formulary.get('boardingTime').invalid && formulary.get('boardingTime').touched" class="form-text text-danger">Hora inválida</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Destino</label>
                                <p-autoComplete formControlName="destinyId" [suggestions]="destinies" 
                                (completeMethod)="searchDestiny($event.query)" field="name" [placeholder]="destinyName">
                                </p-autoComplete>
                                <small *ngIf="formulary.get('destinyId').invalid && formulary.get('destinyId').touched" class="form-text text-danger">Destino necessário</small>
                            </div>
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Passageiros</label>
                                <input type="number" class="form-control" formControlName="passQtt" required>
                                <small *ngIf="formulary.get('passQtt').invalid && formulary.get('passQtt').touched" class="form-text text-danger">Quantidade inválida</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Tipo de onibus</label>
                            <select class="custom-select"  formControlName="busId" required>
                            <option *ngFor="let category of busCategories" [value]="category.id">{{ category.name }}</option>
                            </select> 
                            <small *ngIf="formulary.get('busId').invalid && formulary.get('busId').touched" class="form-text text-danger">Tipo necessário</small>    
                            </div>
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Empresa</label>
                                <p-autoComplete formControlName="companyId" [suggestions]="companies" 
                                    (completeMethod)="searchCompany($event.query)" field="name" [placeholder]="companyName">
                            </p-autoComplete>
                            <small *ngIf="formulary.get('companyId').invalid && formulary.get('companyId').touched" class="form-text text-danger">Empresa necessária</small> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-info" (click)="edit(id)" [disabled]="!formulary.valid">Editar</button>
        </div>
        </form>
    </div>
    </div>
</div>

<!-- Modal para excluir Mapas -->

<div class="modal fade" id="modalDelComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Deletar </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        Tem certeza?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="delete()" data-dismiss="modal">Apagar</button>
        </div>
    </div>
</div>

<!-- Modal para pesquisa -->

